    *{
         text-align: center;
         background-color: beige;
        }
    h1{
        font-size: 4em;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #down{
        font-size: 1.5em;
        margin-top: -30px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    #guessedno{
        font-size: 2em;
    }
    #submit{
        font-size: 1.5em;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: rgb(51, 115, 224);
    }
    #submit:hover{
        cursor: pointer;
        background-color: rgb(12, 95, 239);
    }
    #guess{
        font-size: 1.25em;
    }
    #answer{
        font-size: 1.5em;
    }
button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

